.contact-item-vertical-container {
  display: flex;
  flex-direction: column;
}

.contact-item-details-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-item-separator {
  margin-top: 4px;
  height: 1px;
  background-color: #aaaaaa;
}

.contact-item-container {
  padding: 6px;
  margin: 6px;
  border-radius: 4px;
}

.contact-item-dp {
  width: 52px;
  height: 52px;
  border-radius: 32px;
}

.contact-details-container {
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-item-email {
  margin-top: 4px;
}
