.absolute-position {
  position: absolute;
}

.absolute-width-height {
  height: 461px;
  width: 320px;
  top: 140px;
  left: 40px;
}

.full-width-height {
  height: 100%;
  width: 100%;
}

.springboard-app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.springboard-app-content-container {
  flex: 1;
  overflow-y: auto;
}
