.iphone-inside {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url(../assets/iphone-lockscreen-image.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.unlock-top {
  position: relative;
  height: 95px;
  background-image: url(../assets/lock-top.png);
}
.unlock-spacer {
  flex: 1;
  overflow: auto;
}
.unlock-bottom-container {
  position: relative;
  height: 94px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.unlock-bottom {
  width: 320px;
  background-image: url(../assets/lock-bottom.png);
}
.unlock-bottom-extension {
  flex: 1;
  background-image: url(../assets/lock-bottom-extension.png);
  background-repeat: repeat;
}
.slide-to-unlock {
  position: absolute;
  z-index: 1;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 94px;
  background-image: url(../assets/slide-to-unlock.gif);
  background-repeat: no-repeat;
}
.unlock-slider-wrapper {
  padding-left: 22px;
  padding-top: 23px;
}
.unlock-slider {
  width: 277px;
  height: 50px;
}
.unlock-handle {
  position: absolute;
  z-index: 10;
  height: 50px;
  width: 72px;
  top: 0px;
  left: 0px;
  background-image: url(../assets/lock-slider.png);
}
.time {
  text-align: center;
  color: #ffffff;
  font-family: Georgia, Times, serif;
  font-size: 45px;
  padding: 6px 0;
}
.date {
  text-align: center;
  color: #ffffff;
  font-family: Georgia, Times, serif;
  font-size: 12px;
}
/* Used by the jQuery slider */
.ui-slider {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}
