.app-navbar-light {
  background-color: #eeeeee;
}

.app-navbar-dark {
  background-color: #5c4033;
}

.app-navbar-container {
  display: flex;
  flex-direction: column;
}

.app-navbar-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.navbar-back-button,
.navbar-trailing-filler {
  width: 70px;
  height: 64px;
}

.navbar-back-button {
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-back-button-title {
  font-size: 17px;
}

.navbar-back-button-title-light {
  color: #ffffff;
}

.navbar-back-button-title-blue {
  color: #007bff;
}

.navbar-back-icon {
  width: 40%;
  height: 40%;
  object-fit: contain;
}

.navbar-title {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.navbar-title-light {
  color: #ffffff;
}

.app-navbar-bottom-separator {
  height: 1px;
  background-color: #aaaaaa;
}
