.notification-center-item-button {
  padding: 0;
  border: none;
  background: none;
  background-image: url(../assets/lock-top.png);
}
.notification-center-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.notification-center-item-text-container {
  margin: 8px;
}
.notification-center-item-image {
  width: 44px;
  height: 44px;
  margin-left: 8px;
}
.notification-center-item-title {
  text-align: left;
  color: #fff;
  font-weight: bold;
}
.notification-center-item-subtitle {
  text-align: left;
  color: #fff;
  margin-top: 4px;
}
