body {
  padding: 0;
  margin: 0;
}

.mobile-frame-background {
  background-image: url(../src/assets/iphone-frame.png);
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 auto;
  margin-top: 70px;
  width: 480px;
  height: 800px;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  outline: none;
}

p {
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}