@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica-Light.woff2") format("woff2"),
    url("../public/fonts/helvetica/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica-BoldOblique.woff2")
      format("woff2"),
    url("../public/fonts/helvetica/Helvetica-BoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica-Bold.woff2") format("woff2"),
    url("../public/fonts/helvetica/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica-Compressed.woff2")
      format("woff2"),
    url("../public/fonts/helvetica/Helvetica-Compressed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica.woff2") format("woff2"),
    url("../public/fonts/helvetica/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/HelveticaRounded-Bold.woff2")
      format("woff2"),
    url("../public/fonts/helvetica/HelveticaRounded-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica/Helvetica-Oblique.woff2") format("woff2"),
    url("../public/fonts/helvetica/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeueLight.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeueMedium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeueThin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeuBold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
 

@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeueLt.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}