@font-face {
  font-family: "icomoon";
  src: url("../public/fonts/icomoon/icomoon.eot?waaj6a");
  src: url("../public/fonts/icomoon/icomoon.eot?waaj6a#iefix")
      format("embedded-opentype"),
    url("../public/fonts/icomoon/icomoon.ttf?waaj6a") format("truetype"),
    url("../public/fonts/icomoon/icomoon.woff?waaj6a") format("woff"),
    url("../public/fonts/icomoon/icomoon.svg?waaj6a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wifi:before {
  content: "\e92a";
}
.icon-signal:before {
  content: "\e927";
}
.icon-battery:before {
  content: "\e928";
}
.icon-battery-4:before {
  content: "\e928";
}
.icon-battery-full:before {
  content: "\e928";
}
.icon-reload_insta:before {
  content: "\e926";
}
.icon-instaexplore:before {
  content: "\e921";
}
.icon-instaheart:before {
  content: "\e922";
}
.icon-instahome:before {
  content: "\e923";
}
.icon-instalogo:before {
  content: "\e924";
}
.icon-instaprofile:before {
  content: "\e925";
}
.icon-insta-cam:before {
  content: "\e918";
}
.icon-comment-love:before {
  content: "\e914";
}
.icon-compass:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e916";
}
.icon-profile:before {
  content: "\e91c";
}
.icon-more-dots:before {
  content: "\e900";
}
.icon-music-album:before {
  content: "\e901";
}
.icon-music-note:before {
  content: "\e902";
}
.icon-playlist:before {
  content: "\e903";
}
.icon-singer:before {
  content: "\e904";
}
.icon-user-solid-square:before {
  content: "\e91a";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e908";
}
.icon-chevron-right:before {
  content: "\e909";
}
.icon-controller-jump-to-start:before {
  content: "\e90a";
}
.icon-controller-next:before {
  content: "\e90b";
}
.icon-controller-pause:before {
  content: "\e90c";
}
.icon-controller-play:before {
  content: "\e90d";
}
.icon-controller-record:before {
  content: "\e90e";
}
.icon-controller-stop:before {
  content: "\e90f";
}
.icon-dots-three-vertical:before {
  content: "\e910";
}
.icon-circle-with-cross:before {
  content: "\e905";
}
.icon-circle-with-minus:before {
  content: "\e906";
}
.icon-circle-with-plus:before {
  content: "\e911";
}
.icon-heart:before {
  content: "\e919";
}
.icon-lock:before {
  content: "\e929";
}
.icon-message:before {
  content: "\e920";
}
.icon-minus:before {
  content: "\e912";
}
.icon-plus:before {
  content: "\e913";
}
.icon-menu:before {
  content: "\e91b";
}
.icon-list:before {
  content: "\e91b";
}
.icon-options:before {
  content: "\e91b";
}
.icon-lines:before {
  content: "\e91b";
}
.icon-hamburger:before {
  content: "\e91b";
}
.icon-location:before {
  content: "\e91e";
}
.icon-clock:before {
  content: "\e917";
}
.icon-grid:before {
  content: "\e91f";
}
.icon-rotate:before {
  content: "\e91d";
}
