@font-face {
  font-family: "icomoon";
  src: url("../public/fonts/icomoon/icomoon.eot?waaj6a");
  src: url("../public/fonts/icomoon/icomoon.eot?waaj6a#iefix")
      format("embedded-opentype"),
    url("../public/fonts/icomoon/icomoon.ttf?waaj6a") format("truetype"),
    url("../public/fonts/icomoon/icomoon.woff?waaj6a") format("woff"),
    url("../public/fonts/icomoon/icomoon.svg?waaj6a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e905";
}
.icon-pause:before {
  content: "\e906";
}
.icon-more-dots:before {
  content: "\e900";
}
.icon-music-album:before {
  content: "\e901";
}
.icon-music-note:before {
  content: "\e902";
}
.icon-playlist:before {
  content: "\e903";
}
.icon-singer:before {
  content: "\e904";
}
